{% extends "base.html" %}
{% load static %}


{% block content %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_styles %}

<div class="container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/1.png' %}" class="d-block w-100" alt="Imagen promocional de descuentos" style="height: 100%; max-height: 600px; object-fit: cover;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/2.png' %}" class="d-block w-100" alt="Imagen promocional de descuentos" style="height: 100%; max-height: 600px; object-fit: cover;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/3.png' %}" class="d-block w-100" alt="Imagen promocional de descuentos" style="height: 100%; max-height: 600px; object-fit: cover;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row my-5">
        <div class="col-12">
            <h1 class="text-center">Catálogo de productos</h1>
        </div>
    </div>
    <div class="row mt-5 my-5">
        <div class="col-12">
            <form action="#' %}" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar producto" name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% for libro in libros %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
            <div class="card mb-3 w-100">
                <img src="{{ libro.imagen.url }}" class="card-img-top img-fluid" alt="{{ libro.nombre }}" style="object-fit: cover; width: 100%; height: 250px;" onerror="this.onerror=null;this.src='/static/default.jpg';">
                <div class="card-body text-center d-flex flex-column">
                    <h5 class="card-title">{{ libro.nombre }} de {{ libro.autor.nombre }}</h5>
                    <p class="card-text"><strong>${{ libro.precio }} MXN</strong></p>
                    <button href="#" class="btn boton mt-auto">Agregar al carrito</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}


