{% extends "base.html" %}
{% load static %}


{% block content %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_styles %}

<div class="container">
    <img src="{% static "images/1.jpg" %} " class="img-fluid" alt="Responsive image">
    <div class="row my-5">
        <div class="col-12">
            <h1 class="text-center">Catálogo de productos</h1>
        </div>
    </div>
    <div class="row mt-5 my-5">
        <div class="col-12">
            <form action="#' %}" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar producto" name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% for libro in libros %}
        <div class="col-12 col-md-4">
            <div class="card mb-3">
            <img src="{{ libro.imagen.url }}" class="card-img-top" alt="{{ libro.nombre }}" style="object-fit: cover; width: 100%; height: 250px;" onerror="this.onerror=null;this.src='/static/default.jpg';">
            <div class="card-body text-center">
                <h5 class="card-title">{{ libro.nombre }} de {{ libro.autor.nombre }}</h5>
                <p class="card-text"><strong>${{ libro.precio }} MXN</strong></p>
                <button href="#" class="btn boton">Agregar al carrito</button>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}


