{% extends "base.html" %}
{% load static %}

{% block content %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_styles %}

<div class="container">
    <div>
        <h1 class="text-center">Perfil de usuario</h1>
        <h3 class="text-center">Bienvenido, {{ user.username }}</h3>
        <h4 class="text-center">Información de la cuenta</h4>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <form action="{% url 'perfil' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" value="{{ user.telefono }}" required>
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" value="{{ user.direccion }}" required>
            </div>
            <div class="mb-3">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" name="ciudad" value="{{ user.ciudad }}" required>
            </div>
            <div class="mb-3">
                <label for="estado" class="form-label">Estado</label>
                <input type="text" class="form-control" id="estado" name="estado" value="{{ user.estado }}" required>
            </div>
            <div class="mb-3">
                <label for="pais" class="form-label">País</label>
                <input type="text" class="form-control" id="pais" name="pais" value="{{ user.pais }}" required>
            </div>
            <div class="mb-3">
                <label for="codigo_postal" class="form-label">Código Postal</label>
                <input type="text" class="form-control" id="codigo_postal" name="codigo_postal" value="{{ user.codigo_postal }}" required>
            </div>
            <button class="btn btn-primary" type="submit">Actualizar</button>
        </form>
    </div>    
</div>

{% endblock content %}