body {
    margin: 0;
    padding-top: 210px;
    font-family: poppins;
    background-color: #f7f5f2;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';
}

.boton {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f7f5f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar .social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: black
}

.navbar .social-icons a:hover {
    color: black;
}

.navbar .logo img {
    height: 100px;
}

.navbar .links a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

.navbar .links a:hover {
    color: black;
}

.content {
    margin-top: 100px;
    /* Adjust this value based on the height of your navbar */
}