body {
    margin: 0;
    padding-top: 150px;
    font-family: Arial, sans-serif;
}

.boton {
    background-color: yellow;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar .social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

.navbar .social-icons a:hover {
    color: black;
}

.navbar .logo img {
    height: 50px;
}

.navbar .links a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

.navbar .links a:hover {
    color: black;
}

.content {
    margin-top: 100px;
    /* Adjust this value based on the height of your navbar */
}